{% extends 'base.html' %}

{% load static %}

{% block title %} ServiceAir {% endblock %}

{% block section %}

    <div class="fullwidthbanner-container tp-banner-container">
        <div class="fullwidthbanner rslider tp-banner">
            <ul>
                <li data-transition="fade" data-slotamount="7" data-masterspeed="2000"  data-delay="10000"  data-saveperformance="on">
                    <img src="{% static 'img/carrusel/1.jpg' %}"  alt="Aire Acondicionado 1" data-bgposition="right top" data-kenburns="on" data-duration="12000" data-ease="Power0.easeInOut" data-bgfit="115" data-bgfitend="100" data-bgpositionend="center bottom">
                </li>
                <li data-transition="fade" data-slotamount="1" data-masterspeed="300">
                    <img src="{% static 'img/carrusel/2.jpg' %}" data-fullwidthcentering="on" alt="Aire Acondicionado 2" data-kenburns="on" data-duration="12000" data-ease="Power0.easeInOut" data-bgfit="115" data-bgfitend="100" data-bgpositionend="center bottom">
                </li>
                <li data-transition="fade" data-slotamount="1" data-masterspeed="300"> 
                    <img src="{% static 'img/carrusel/3.jpg' %}" data-fullwidthcentering="on" alt="Aire Acondicionado 3" data-kenburns="on" data-duration="12000" data-ease="Power0.easeInOut" data-bgfit="115" data-bgfitend="100" data-bgpositionend="center bottom">
                </li>
            </ul>
        </div>
    </div>
    <!-- Slider -->
    <!-- Title, Service -->
    <div id="Servicio" class="breadcrumb-wrapper" >
        <div class="pattern-overlay">
            <div class="container">
                <div class="row">
                    <div name="Servicio" class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                        <h2 class="title" >Servicios</h2>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- /Title, Service -->
    <!-- Main Content -->
    <div class="main-content">
        <div class="container">
            {% for serv in type_servicios %}
                {% if forloop.counter|divisibleby:3 %}
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 wow fadeIn">
                            <div class="content-box big ch-item bottom-pad-small">
                                <div class="ch-info-wrap">
                                    <div class="ch-info">
                                        <div class="ch-info-front ch-img-1"><i class="fa fa-rocket"></i></div>
                                        <div class="ch-info-back">
                                            <i class="fa fa-rocket"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="content-box-info">
                                    <h3>{{serv.nombre}}</h3>
                                    <p>
                                        {{serv.descripcion}}
                                    </p>
                                </div>
                                <div class="border-bottom margin-top30">
                                </div>
                                <div class="border-bottom">
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="col-lg-4 col-md-4 col-sm-4 wow fadeIn">
                        <div class="content-box big ch-item bottom-pad-small">
                            <div class="ch-info-wrap">
                                <div class="ch-info">
                                    <div class="ch-info-front ch-img-1"><i class="fa fa-rocket"></i></div>
                                    <div class="ch-info-back">
                                        <i class="fa fa-rocket"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="content-box-info">
                                <h3>{{serv.nombre}}</h3>
                                <p>
                                    {{serv.descripcion}}
                                </p>
                            </div>
                            <div class="border-bottom margin-top30">
                            </div>
                            <div class="border-bottom">
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <!-- /Main Content -->
    
    <!--  Star -->
    <div class="star">
        <div class="col-md-12">
            <div class="star-divider">
                <div class="star-divider-icon">
                    <i class=" fa fa-star"></i>
                </div>
            </div>
        </div>
    </div>
    <!-- Star -->
    <div id="contacto" class="row padding-top margin-top">
        <!-- Contact Details -->
        <div class="contact-details">
            <div class="col-lg-4 col-sm-4 col-md-6 col-xs-12">
                <div class="text-center">
                    <div class="wow swing">
                        <div class="contact-icon">
                            <a href="#" class=""> <i class="fa fa-map-marker fa-3x"></i> </a>
                        </div>
                        <!-- end dm-icon-effect-1 -->
                        <p>Av. Calle Nueva #123  <br>
                            Huechuraba
                        </p>
                    </div>
                    <!-- end service-icon -->
                </div>
                <!-- end miniboxes -->
            </div>
            <!-- /col-lg-4 -->
            <div class="col-lg-4 col-sm-4 col-md-6 col-xs-12">
                <div class="text-center">
                    <div class="wow swing">
                        <div class="contact-icon">
                            <a href="#" class=""> <i class="fa fa-phone fa-3x"></i> </a>
                        </div>
                        <p><strong>Celular:</strong> (+56) 9 8832 7832<br>
                            <strong>Telefono:</strong> (+56) 22 756 9832
                        </p>
                    </div>
                    <!-- /service-icon -->
                </div>
                <!-- /miniboxes -->
            </div>
            <!--  /col-lg-4 -->
            <div class="col-lg-4 col-sm-4 col-md-6 col-xs-12">
                <div class="text-center">
                    <div class="wow swing">
                        <div class="contact-icon">
                            <a href="#" class=""> <i class="fa fa-envelope-o fa-3x"></i> </a>
                        </div>
                        <p><strong>Correo:</strong> docemas@doce.cl
                        </p>
                    </div>
                    <!--  /service-icon -->
                </div>
                <!-- /miniboxes -->
            </div>
            <!-- /col-lg-4 -->
        </div>
        <!-- Contact Details -->
    </div>
    <!-- /margin-top --><br><br>

{% endblock %}

{% block productos %}   {% include 'producto/products.html' %}   {% endblock %} 