<!-- Mobile Menu -->
<div class="mobile navbar-header">
    <a class="navbar-toggle" data-toggle="collapse" href=".navbar-collapse">
    <i class="fa fa-bars fa-2x"></i>
    </a>
</div>
<!-- /Mobile Menu -->
<!-- Menu Start -->
<nav class="collapse navbar-collapse menu">
    <ul class="nav navbar-nav sf-menu">
        <li>
            <a id="current" href="{% url 'list_productos' %}">
            Producto
            </a>
        </li>
        <li>
            <a id="" href="{% url 'list_users' %}">
            Usuario
            </a>
        </li>
        <li>
            <a id="" href="{% url 'list_repuestos' %}">
            Repuestos
            </a>
        </li>
        <li>
            <a id="" href="{% url 'list_bodegas' %}">
            Bodega
            </a>
        </li>
        <li>
            <a id="" href="{% url 'list_type_servicios' %}">
            Servicio
            </a>
        </li>
    </ul>
</nav>
<!-- /Menu -->
