<!-- Mobile Menu -->
<div class="mobile navbar-header">
        <a class="navbar-toggle" data-toggle="collapse" href=".navbar-collapse">
        <i class="fa fa-bars fa-2x"></i>
        </a>
    </div>
    <!-- /Mobile Menu -->
    <!-- Menu Start -->
    <nav class="collapse navbar-collapse menu">
        <ul class="nav navbar-nav sf-menu">
            <li>
                <a id="current" href="#">
                Inicio
                </a>
            </li>
            <li>
                <a id="" href="#Servicio">
                Agenda
                </a>
            </li>
            <li>
                <a id="" href="#Nosotros">
                Solicitudes
                </a>
            </li>
        </ul>
    </nav>
    <!-- /Menu -->
    