{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %} Registro agenda {% endblock %}

{% block section %}

<!-- Title, Breadcrumb -->
<div class="breadcrumb-wrapper">
    <div class="pattern-overlay">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="padding-top40 text-center">
                        <h3 class="light wow fadeInRight">
                            Formulario para agregar agenda
                        </h3>
                    </div>
                </div>    
            </div>
        </div>
    </div>
</div>
<!-- /Title, Breadcrumb -->

    {% if success_message %}
        {{success_message}}
    {% else %}
    <br>
    <div class="container">
        <form id="form_add" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="form-group">
                    <div class="col-md-4">
                        {{ form.solicitud|as_crispy_field }}
                    </div>
                    <div class="col-md-4">
                        {{ form.tipo|as_crispy_field }}
                    </div>
                    <div class="col-md-4">
                        {{ form.tecnico|as_crispy_field }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        {{ form.descripcion|as_crispy_field }}
                    </div>
                    <div class="col-md-4">
                        {{ form.fecha|as_crispy_field }}
                    </div>
                    <div class="col-md-4">
                        {{ form.direccion|as_crispy_field }}
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-4">
                        <input type="button" id="btn_add" class="btn btn-color" value="Agregar">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <br><br>
    {% endif%}

    {% block scripts %}   {% include 'servicios/agenda.html' %}   {% endblock %} 

{% endblock %}

    
