.center-cropped {
  max-height: 400px;
  min-width: 300px;
  min-height: 300px;
  object-fit: fill;
  object-position: center;
}

body    {
  margin: 0px;
  font-family: 'Quicksand', sans-serif;
  color: #2b1d1d;
}

.img-fluid {
  max-width: 100px;
  max-height: 100px;
}

.naranjo  {
  background-color: #f25b4a !important;
}

.titulo {
  font-family: DinBold, 'Open Sans', 'Helvetica Neue', Arial, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', sans-serif;
  font-size: 56px;
  line-height: 64px;
  margin-bottom: 8px;
}

.subtitulo {
  font-size: 16px;
}

.header__wrap {
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
}

.text-muted {
  color: #4b759c !important;
}

.font-weight-normal {
  color: #f25b4a !important;
  font-weight: 400 !important;
}

.carousel-caption {
    color: #e8e8e8;
}
